{% extends "base.html.twig" %}

{% block title %}{{ categorie.nom }}{% endblock %}

{% block body %}
    <div class="containe mt-5">
        <h1>Categorie {{categorie.nom}}</h1>
    </div>
{% endblock %}